<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="~{fragments :: head}"></head>

<body class="container">

<header th:replace="~{fragments :: navigation}"></header>

<div>
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="/boardgameWorld/admin/users">View Users</a></li>
        <li class="nav-item"><a class="nav-link" href="/boardgameWorld/admin/games">View Games</a></li>
        <li class="nav-item"><a class="nav-link" href="/boardgameWorld/admin/sales">View Sales</a></li>
        <li class="nav-item"><a class="nav-link" href="/boardgameWorld/admin/add_game">Add Game</a></li>
        <li class="nav-item"><a class="nav-link" href="/boardgameWorld/admin/add_admin">Add Admin</a></li>
        <li class="nav-item"><a class="nav-link" href="/boardgameWorld/admin/add_type">Add Game Type</a></li>
    </ul>
</div>

</body>
</html>