<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="~{fragments :: head}"></head>

<body class="container">

<header th:replace="~{fragments :: navigation}"></header>

<p class="error" th:text="${errorMsg}"></p>

<form method="post" action="/boardgameWorld/admin/add_game">
    <div class="form-group">
        <label>Name
            <input th:field="${game.name}" class="form-control">
        </label>
        <p class="error" th:errors="${game.name}"></p>
    </div>
    <div class="form-group">
        <label>Price
            <input th:field="${game.price}" class="form-control">
        </label>
        <p class="error" th:errors="${game.price}"></p>
    </div>
    <div class="form-group">
        <label>Type
<!--            <input th:field="${game.type}" class="form-control">-->
            <select th:field="${game.type}">
                <option th:each="type : ${types}"
                        th:value="${type.id}"
                        th:text="${type.name}">
                </option>
            </select>
        </label>
        <p class="error" th:errors="${game.type}"></p>
    </div>
    <div class="form-group">
        <input type="submit" value="Add Game" class="btn btn-success">
    </div>
</form>

</body>
</html>