<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="~{fragments :: head}"></head>

<body class="container">

<header th:replace="~{fragments :: navigation}"></header>

<div>
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="/boardgameWorld/client/personal_data">View Personal Data</a></li>
        <li class="nav-item"><a class="nav-link" href="/boardgameWorld/client/games">View games</a></li>
        <li class="nav-item"><a class="nav-link" href="/boardgameWorld/client/buy">Buy games</a></li>
    </ul>
</div>

</body>
</html>